.form {
    padding-bottom: 40px;
    background: url('../images/dist/pixels-bg.svg') top right no-repeat,
                url('../images/dist/pixels-bg.svg') left bottom 255px no-repeat;
    form {
        display: block;
        padding-right: 22px;

    }
    
    &__row {
        display: flex;
        margin-left: -15px;
        margin-right: -15px;
        margin-bottom: 70px;
    }

    

    &__item {
        position: relative;
        width: 100%;
        margin-left: 15px;
        margin-right: 15px;
        
        input {
            font-family: Geometria, sans-serif;
            display: block;
            color: #00A851;
            background: #FFFFFF;
            border: 1px solid #E7E7E7;
            padding: 17px 19px;
            width: 100%;
        }
    }

    &__caption {
        font-weight: 500;
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 17px;

        span {
            color: #00A851;
        }
    }

    &__range-value {
        position: absolute;
        bottom: 34px;
        left: -4px;
        font-family: 'Geometria', sans-serif;
        font-weight: bold;
        font-size: 18px;
        line-height: 23px;
        color: #FFFFFF;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 50px;
        height: 40px;
        border: 4px solid #036D36;
        background-color: #00A851;

        &::after {
            position: absolute;
            bottom: -7px;
            content: "";
            left: 50%;
            transform: translateX(-50%);
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 5px 5px 0 5px;
            border-color: #035d36 transparent transparent transparent;
        }
    }

    &__range-caption {
        display: flex;
        justify-content: space-between;
        font-size: 18px;
        line-height: 24px;
        margin-top: 22px;
        margin-right: -22px;

        span {
            display: inline-block;

            &:nth-child(2) {
                margin-left: 40px;
            }
        }
    }

    &__select {
        position: relative;

        &::before {
            position: absolute;
            content: "";
            right: 20px;
            top: 50%;
            transform: translateY(-50%) rotate(-45deg);
            width: 9px;
            height: 1px;
            background-color: #00A851;
        }

        &::after {
            position: absolute;
            content: "";
            right: 26px;
            top: 50%;
            transform: translateY(-50%) rotate(45deg);
            width: 9px;
            height: 1px;
            background-color: #00A851;
        }
        
        select {
            display: block;
            width: 100%;
            padding: 15px 20px;
            background: #FAFAFA;
            border: 1px solid #E7E7E7;
            border-radius: 10px;
            outline: transparent;
            font-family: 'Geometria', sans-serif;
            font-weight: normal;
            font-size: 16px;
            line-height: 20px;
            color: #979797;


            /* for Firefox */
            -moz-appearance: none;
            /* for Chrome */
            -webkit-appearance: none;
            
            /* For IE10 */
            &::-ms-expand {
            display: none;
            }
        }
    }

    &__checkbox {
        margin-bottom: 22px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__checkbox label{
        display: flex;
        align-items: flex-end;

        input {
            display: none;

            &:checked ~ .form__check::after {
                content: "";
            }
        }
        
        span {
            font-weight: 500;
            font-size: 18px;
            line-height: 1;
        }
    }

    &__checkboxes {
        align-items: stretch;
        margin-bottom: 35px;
    }

    &__text {
        margin-bottom: 40px;
        color: #000000;
        p + p {
            margin-top: 20px;
        }
    }

    &__row--checkboxes {
        margin-bottom: 65px;

        .form__item {
            margin-left: 5px;
            margin-right: 5px;
        }

        .form__item:first-child {
            max-width: 45%;
        }
        .form__item:last-child {
            max-width: 55%;
        }
    }

    &__row--single {
        max-width: 50%;
        width: 100%;
    }
    
    &__item--checkboxes {
        margin-top: 32px;
        margin-left: 25px;
    }
    
    &__check {
        flex-shrink: 0;
        position: relative;
        width: 24px;
        height: 24px;
        background-color: #FFFFFF;
        border: 1px solid #4B1F60;
        margin-right: 18px;
        &::after {
            position: absolute;
            left: 4px;
            top: -2px;
            width: 100%;
            height: 100%;
            background: url('../images/dist/check.svg') center no-repeat;
        }
    }

    &__btn-wrapper {
        text-align: center;
        margin-bottom: 30px;
    }

    &__policy {
        font-weight: 500;
        font-size: 12px;
        line-height: 16px;
        text-align: center;

        a {
            color: #C03053;
        }
    }

    .rangeSlider {
        background: #F1E5D7;;
        border-radius: 10px;
        height: 10px;
        box-shadow: none;
        margin-top: 75px;

        &__handle {
            box-shadow: none;
            top: -15px;
            width: 40px;
            height: 40px;
            border-radius: 0;
            background: url('../images/dist/range-thumb.svg') center no-repeat;
            border: none;
            box-shadow: none !important;

            &::after {
                content: none;
            }

            &:focus, &:active {
                outline: none;
                border: none;
                box-shadow: none;
            }
        }

        &__fill {
            background: #00A851;
            box-shadow: none;
        }
    }
}

.form-page {
    .reviews {
        position: relative;

        @media (min-width: 1025px) {
            background-position: top 446px right;
        }
        
        &::after {
            position: absolute;
            content: "";
            left: 0;
            top: 40px;
            width: 100%;
            height: 100%;
            -webkit-clip-path: polygon(0 0,50% 88%,100% 0);
            clip-path: polygon(0 0,50% 88%,100% 0);
            background: rgba(220,199,176,.23);
        }
    }
}

.scout-page {
    
    .form__select select {
        border-radius: 0;
    }
    @media (min-width: 1025px) {
        .form {
            background: url('../images/dist/pixels-bg.svg') top 36% left no-repeat,
        }
        .form__row {
            .form__check::after {
                background: url('../images/dist/check-2.svg') center no-repeat;
                left: 2px;
                top: -6px;
                width: 29px;
                height: 22px;
            }
        }
    }
}

.test {
    padding-bottom: 35px;
    &__title {
        font-weight: bold;
        font-size: 36px;
        line-height: 42px;
        color: #000000;
        margin-bottom: 30px;
    }

    &__item {
        margin-bottom: 40px;
    }

    &__question {
        font-style: italic;
        position: relative;
        font-weight: 300;
        font-size: 18px;
        line-height: 143.69%;
        color: #828282;
        margin-bottom: 30px;
        padding: 19px 36px;
        background-color: #ffffff;
        border: 1px solid #E7E7E7;
        
        @media (min-width: 769px) {
            &::before {
                position: absolute;
                content: "";
                left: 0;
                top: 0;
                height: 100%;
                width: 4px;
                border-radius: 15px;
                background-color: $red;
            }
        }
    }

    &__answer {
        textarea {
            display: block;
            width: 100%;
            padding: 19px 23px;
            font-size: 18px;
            line-height: 24px;
            color: #000;
            background-color: #ffffff;
            border: 1px solid #E7E7E7;
            min-height: 240px;
            &::placeholder {
                color: #979797;
            }
        }
    }

    &__checkbox {
        font-family: 'Geometria', sans-serif;
        font-weight: 500;
    }
}

.quiz {
    padding-top: 20px;

    &__item {
        font-size: 18px;
        line-height: 24px;
        color: #000000;
        margin-bottom: 50px;
    }

    &__question {
        margin-bottom: 20px;

        span {
            color: #C03053;
        }

        i {
            font-style: normal;
            color: #C03053;
        }
    }
    
    &__answer {
        textarea {
            display: block;
            width: 100%;
            font-size: 18px;
            line-height: 24px;
            padding: 19px 23px;
            min-height: 200px;
            color: #000;
            &::placeholder {
                color: #979797;
            }
        }
    }

    &__checkbox {
        margin-top: 5px;
        span {
            font-weight: 500;
            font-size: 18px;
            line-height: 23px;
            color: #000000;
        }
    }
}

.form {
    &__row--quad {
        flex-wrap: wrap;
        margin-bottom: 0;

        .form__item {
            max-width: calc(50% - 30px);
            width: 100%;
            margin-bottom: 55px;
        }
    }
}


.admin-page {
    .form {
        background: url('../images/dist/pixels-bg.svg') top 13% left -30px  no-repeat,
                    url('../images/dist/pixels-bg.svg') top 23% right -30px  no-repeat,
                    url('../images/dist/pixels-bg.svg') top 40% left -30px  no-repeat,
                    url('../images/dist/pixels-bg.svg') top 52% right -30px  no-repeat,
                    url('../images/dist/pixels-bg.svg') top 69% left -30px  no-repeat,
                    url('../images/dist/pixels-bg.svg') top 79% right -30px  no-repeat,
                    url('../images/dist/pixels-bg.svg') top 97% left -30px  no-repeat;
    }
}