.about {
    position: relative;
    padding-top: 40px;
    padding-bottom: 70px;
    margin-left: 12px;
    margin-right: 18px;
    margin-bottom: 14px;
    background-color: #ffffff;

    &::before {
        position: absolute;
        content: "";
        width: 20px;
        height: 98%;
        background-color: #D8CCBF;
        right: -15px;
        bottom: 0;
    }
    &::after {
        position: absolute;
        content: "";
        width: 100%;
        height: 14px;
        background-color: #D8CCBF;;
        right: -15px;
        bottom: -14px;
    }
    

    &__title {
        text-align: center;
        max-width: 1080px;
        margin: 0 auto;
        margin-bottom: 40px;
    }

    &__inner {
        position: relative;
        padding: 0 45px;
    }

    &__row {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    &__col {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        &:last-child {
            margin-left: 155px;
            .about__img {
                margin-top: -55px;
            }
            .about__text {
                position: relative;
                &::before {
                    position: absolute;
                    content: "";
                    left: -132px;
                    top: 40px;
                    height: 25px;
                    width: 100px;
                    background: url('../images/dist/arrow.svg') no-repeat center;
                }
            }
        }
        
        
    }

    &__img {
        margin-top: -170px;
    }

    &__text {
        max-width: 50%;
        width: 100%;
        padding-bottom: 190px;
    }

    &__mobile-img {
        display: none;
    }
    
    &__foot {
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 60px;
        text-align: center;
        max-width: 900px;
        margin: 0 auto;
    }

    &__foot-item {
        position: relative;
        text-align: center;
        width: 100%;

        &::after {
            position: absolute;
            content: "";
            right: 0;
            top: 0;
            height: 100%;
            width: 1px;
            background-color: rgba(104, 50, 15, 0.24);;
        }

        &:first-child {
            .about__foot-subtitle {
                margin-right: 30px;
            }
        }

        &:last-child {
            &::after {
                content: none;
            }
            .about__foot-subtitle {
                margin-left: 35px;
            }
        }
    }

    &__foot-num {
        font-family: Gouranga, sans-serif;
        font-size: 80px;
        line-height: 0.9;
        color: $red;
    }

    &__foot-subtitle {
        line-height: 24px;
    }
}
