.first-screen {
    position: relative;

    &::before {
        position: absolute;
        content: "";
        background: url('../images/dist/hero-pixels.svg') no-repeat left bottom,
        url('../images/dist/hero-bg.svg') no-repeat top center;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 4;
    }
    
    &::after {
        position: absolute;
        content: "";
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        clip-path: polygon(0 0,56% 0,72% 100%,0 100%);
        background-color: $accent;
        z-index: 0;
    }
}

.blog-page {
    .first-screen {
        &::after {
            content: none;
        }
        &::before {
            background: url('../images/dist/hero-bg.svg') no-repeat top center;
        }
    }
}