
.reviews {

    &__title {
        margin-bottom: 60px;
        text-align: center;
        max-width: 940px;
        margin: 0 auto;
    }

    &__slider {
    }

    &__item {
    }

    &__img {
    }

    &__rating {
    }

    &__name {
    }

    &__text {
    }
}

