@import "config";
@import "rangeslider";
@import "blocks/**/*";



@media (max-width: 1700px) {
.form {
    background: url('../images/dist/pixels-bg.svg') top right / 130px no-repeat,url('../images/dist/pixels-bg.svg') left bottom 255px / 130px no-repeat;
}
}

@media (max-width: 1500px) {
    .benefits {
        background: url('../images/dist/pixels-bg.svg') no-repeat top 100px right / 100px ,
        url('../images/dist/pixels-bg.svg') no-repeat bottom 100px left / 100px ;
    }
}

@media (max-width: 1400px) {
    .about {
        &__col:last-child {
            margin-left: 130px;
        }
        &__img {
            margin-top: -100px;
        }
    }
}

@media (max-width: 1280px) {
    .communication {
        padding-top: 20px;
    }
    .form {
        background: url('../images/dist/pixels-bg.svg') top right -40px / 100px no-repeat,
                url('../images/dist/pixels-bg.svg') left -40px bottom 255px / 100px no-repeat;
    }
}


@media (max-width: 1200px) {
    .banner {
        &__content {
            margin-left: 20px;
        }
        &__title {
            font-size: 32px;
            line-height: 30px;
        }
        &__text {
            font-size: 13px;
            line-height: 140%;
        }
    }
    .questions {
        background-size: 100px;
        &__item {
            height: 40px;
            width: 310px;
            background: url('../images/dist/questions-item-bg-mobile.svg') center no-repeat;
            margin-left: auto;
            margin-right: auto;

            &.open {
                background: url('../images/dist/questions-item-bg-mobile-open.svg') center no-repeat;
                height: 180px;

                .questions__content {
                    padding-left: 7px;
                    padding-right: 7px;
                    padding-bottom: 7px;
                    font-weight: 400;
                    font-size: 13px;
                    line-height: 17px;
                }
            }
        }
        &__item-title {
            font-size: 16px;
        }
        &__item-btn {
            right: 10px;
            width: 20px;
            height: 20px;

            span {
                width: 10px;
                height: 2px;
            }
        }
        &__content {
            
        }
        &__item-head {
            padding: 7px;
        }
    }
    .reviews {
        &__item {
            padding: 20px;
        }
    }
    .benefits {
        background: url(../images/dist/pixels-bg.svg) no-repeat top 100px right -25px / 50px ,
        url(../images/dist/pixels-bg.svg) no-repeat bottom 100px left -25px / 50px ;
    }
    .about {
        &__inner {
            padding: 0 10px;
        }
        &__row {
            flex-direction: column;
        }
        &__text {
            padding-bottom: 0;
            max-width: 100%;
            &::before {
                display: none;
            }
        }
        &__img {
            display: none;
        }
        &__col {
            &:last-child {
                margin-left: 0;
            }
        }
        &__foot {
            position: static;
            transform: none;
            margin-top: 25px;
        }
        &__mobile-img {
            display: block;
            margin: 0 auto;
            width: 45%;
            img {
                width: 100%;
            }
        }
    }
}


@media (max-width: 1024px) {
    
    .blog {
        padding-bottom: 40px;
        background: url('../images/dist/pixels-bg.svg') no-repeat left -30px top 20% / 65px,
                url('../images/dist/pixels-bg.svg') no-repeat right -30px bottom 40% / 65px,
                url('../images/dist/pixels-bg.svg') no-repeat left -30px bottom 10% / 65px;

        &__title {
            font-size: 32px;
            line-height: 37px;
        }

        &__text {
            padding-right: 10px;
            font-size: 13px;
        }

        &__content {
            padding: 20px 18px;
        }

        &__item-title {
            margin-bottom: 6px;
            margin-left: -18px;
            padding-right: 18px;
            font-size: 18px;
        }
        
        &__btn {
            font-size: 12px;
            margin-right: -18px;
        }

    }
    .task {
        &.form {
            padding-bottom: 0;
        }
        &__question {
            font-size: 16px;
        }
        &__example {
            font-size: 13px;
            margin-bottom: 20px;
        }
        &__example-item {
            padding: 14px 24px;
        }
        &__answer-item {
            margin-bottom: 15px;
            input {
                font-size: 16px;
                line-height: 21px;
            }
            textarea {
                min-height: 130px;
                font-size: 13px;
                line-height: 17px;
            }
        }
        .task__checkbox {
            margin-top: 0;
            margin-bottom: 14px;

            label {
                align-items: flex-start;
            }

            span {
                font-weight: 500;
                font-size: 16px;
                line-height: 20px;
            }
        }
    }
    
    .hero-task {
        .hero__title {
            font-size: 44px;
            line-height: 52px;
        }
    }
    .form__row--quad .form__item {
        max-width: 100%;
        margin-bottom: 11px;
    }
    .quiz {
        &__item {
            margin-bottom: 15px;
        }
        &__question {
            font-size: 13px;
            line-height: 140%;
            margin-bottom: 13px;
        }
        &__answer {
            textarea {
                min-height: 140px;
                padding: 15px 24px;
                font-size: 13px;
                line-height: 17px;
            }
        }
        .quiz__checkbox {
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;
        }
    }
    .scout-page {
        .form {
            background: url('../images/dist/pixels-bg.svg') top right -25px/65px no-repeat,url('../images/dist/pixels-bg.svg') left -20px top 210px/65px no-repeat,url('../images/dist/pixels-bg.svg') right -10px top 305px/65px no-repeat;
        }
        .form__select select {
            border-radius: 10px;
        }
    }

    .test {
        padding-bottom: 15px;
        &__title {
            font-size: 32px;
            line-height: 37px;
            margin-bottom: 25px;
        }
        &__question {
            padding: 16px 22px;
            font-size: 13px;
            margin-bottom: 20px;
        }
        &__item {
            margin-bottom: 20px;
        }
        &__answer {
            textarea {
                font-size: 13px;
                line-height: 17px;
                padding: 15px 25px;
                min-height: 150px;
            }
        }
        .test__checkbox {
            label {
                align-items: flex-start;
                span {
                    font-size: 16px;
                    line-height: 20px;
                    font-weight: 500;
                }
            }
        }
    }
    .form__row--checkboxes .form__item:first-child {
        max-width: 100%;
    }
    .form__row--checkboxes .form__item:last-child {
        max-width: 100%;
    }
    .form {
        padding-bottom: 0;
        background: url('../images/dist/pixels-bg.svg') top right -25px / 65px no-repeat,
                url('../images/dist/pixels-bg.svg') left -20px top 210px / 65px no-repeat,
                url('../images/dist/pixels-bg.svg') right -10px top 41% / 65px no-repeat;
        form {
            display: flex;
            flex-direction: column;
            padding-right: 0;
        }
        &__item--checkboxes {
            margin-top: 25px;
        }
        

        &__row--single {
            max-width: 100%;
        }
        
        &__caption {
            font-size: 16px;
            line-height: 21px;
            margin-bottom: 11px;
        }
        &__row {
            margin-bottom: 0;
            margin-left: 0;
            margin-right: 0;
            flex-direction: column;
        }
        &__row--days {
            .form__item {
                margin-bottom: 20px;
            }
        }
        &__row--checkboxes {
            margin-top: 24px;
            margin-bottom: 20px;
        }
        &__select select {
            font-size: 13px;
            line-height: 16px;
        }
        &__text {
            font-size: 13px;
            line-height: 18px;
            margin-bottom: 22px;
        }
        &__range-caption {
            font-weight: 500;
            font-size: 13px;
            line-height: 17px;
        }
        &__row--days {
            .rangeSlider {
                margin-top: 20px;
            }
        }
        &__row--range {
            .form__item { 
                margin-bottom: 35px;
            }
        }
        &__range-caption {
            margin-right: 0;
        }
        &__item {
            margin-left: 0;
            margin-right: 0;
            margin-bottom: 11px;
            input {
                font-size: 13px;
                line-height: 16px;
                padding: 14px 19px;
            }
        }
        &__checkbox label span {
            font-size: 13px;
            line-height: 17px;
        }
        &__item--checkboxes {
            margin-bottom: 25px;
        }
        &__btn-wrapper {
            margin-bottom: 13px;
        }
    }
    .form__checkbox label {
        align-items: center;
    }
    .banner {
        padding-bottom: 24px;
        &__inner {
            padding: 10px;
        }

        &__content {
            padding: 0;
            max-width: 440px;
        }
    }
    .hero-form {
        background: url('../images/dist/hero-translators-mobile.svg') center bottom no-repeat;
        .hero__title {
            font-size: 42px;
            line-height: 52px;
            padding-right: 0;
            margin: 0 auto;
            margin-bottom: 260px;
        }
        .hero__text {
            margin-bottom: 25px;
        }
        .hero__box {
            padding-right: 0;
        }
    }
    .scout-page .hero-scout {
        background-image: url('../images/dist/hero-scout-mobile.svg');
        background-position: top;
    }
    .admin-page .hero-admin {
        background-position: top;
        background-image: url('../images/dist/hero-admin-mobile.svg');
    }
    .task-page .hero-task {
        background: url('../images/dist/hero-task-bg-left.svg') top 20px left,
                    url('../images/dist/hero-task-bg-right.svg') bottom right;
        background-repeat: no-repeat;
    }
    .hero__text {
        padding-right: 120px;
    }
    .hero-task .hero__box{
        text-align: left;
    }
    .hero-task {
        margin-left: -15px;
        margin-right: -15px;
        padding-left: 15px;
        padding-right: 15px;
    }
    .footer {
        padding: 40px 0;

        &__logo {
            img {
            width: 132px;
            }
        }

        &__title {
            font-size: 16px;
            margin-bottom: 5px;
        }
        
        &__item {
            font-size: 16px;
        }

        &__socials-list {
            li + li {
                margin-left: 30px;
            }
        }
    }
    .application {
        padding-bottom: 35px;
        padding-top: 30px;
        padding-left: 15px;
        padding-right: 15px;

        &__form {
            margin-left: 0;
            margin-right: 0;
        }
        
        &::before {
            background: url('../images/dist/cloud-2.svg') no-repeat top -11px right -51px / 95px;
        }
        &::after {
            clip-path: polygon(100% 0, 0 0, 50% 170%);
        }

        &__img {
            display: none;
        }

        &__mobile {
            display: block;
            margin-top: -10px;
        }

        &__inner {
            flex-direction: column;
        }

        &__item {
            margin-bottom: 15px;
            input {
                font-size: 13px;
                line-height: 150%;
                padding: 13px 18px;
            }
        }

        &__title {
            text-align: center;
            margin-bottom: 18px;
            margin-left: -8px;
            margin-right: -8px;
            span {
                display: block;
            }
        }

        &__subtitle {
            text-align: center;
            font-size: 16px;
            line-height: 120%;
            margin-bottom: 25px;
        }
    }
    .questions {
        padding-top: 40px;
        padding-bottom: 40px;
        background: url('../images/dist/pixels-bg.svg') left -40px bottom 290px/50px no-repeat,
        url('../images/dist/questions-mobile-bg-left.svg') top 50px left  no-repeat,
        url('../images/dist/questions-mobile-bg-right.svg') top right  no-repeat;

        &__item {
            margin-bottom: 10px;
        }
    }
    .reviews {
        position: relative;
        background: url('../images/dist/reviews-mobile-bg-left.svg') left top 116px no-repeat;
        padding-top: 72px; 
        padding-bottom: 0;
        margin-bottom: 5px;

        &::after {
            position: absolute;
            content: "";
            left: 0;
            top: 40px;
            width: 100%;
            height: 100%;
            clip-path: polygon(0 0,50% 88%,100% 0);
            background: rgba(220, 199, 176, 0.23);
        }

        .container {
            position: relative;
            z-index: 10;
        }
    }
    .schedule {
        padding-bottom: 0;
        background-size: 50px;
        position: relative;
        &::before {
            position: absolute;
            content: "";
            bottom: 0;
            left: -15px;
            right: -15px;
            height: 55px;
            width: calc(100% + 30px);
            margin: 0 auto;
            background-color: $bg;
            z-index: 0;
        }
        &__title {
            margin-bottom: 20px;
        }
        &__subtitle {
            font-size: 14px;
            line-height: 130%;
            margin-bottom: 25px;
        }

        &::after {
            clip-path: polygon(0 0,50% 92%,100% 0);
        }
    }
    .team {
        padding-top: 0;

        & > .container {
            display: none;
        }
    }
    .team-head {
        &__text {
            font-size: 16px;
        }
        &__content {
            max-width: 470px;
        }
    }
    
    .benefits {
        padding-bottom: 10px;
        &__list {
            flex-wrap: wrap;
        }
        &__item {
            max-width: calc(50% - 30px);
            margin-bottom: 30px;
        }
    }
    .about {
        padding-top: 10px;
        padding-bottom: 45px;

        &__title {
            margin-bottom: 20px;
        }

        &__text {
            font-size: 16px;
        }

        &::before {
            width: 10px;
            bottom: -3px;
        }

        &::after {
            height: 12px;
        }
        &__foot {
            padding-bottom: 0;
        }
        &__foot-num {
            font-size: 60px;
            line-height: 1;
        }
        &__foot-subtitle {
            font-size: 16px;
            line-height: 21px;
        }
    }
    .btn-wrapper {
        text-align: center;
    }
    .communication {
        padding-top: 40px;
        padding-bottom: 60px;
        background: url('../images/dist/communication-main-mobile.svg') bottom 125px center no-repeat;

        &__content {
            margin: 0 auto;
        }

        &__text {
            font-size: 16px;
            margin-bottom: 190px;
        }

        &__btn {
            margin: 0 auto;
        }
        
        &__img {
            display: none;
        }

        &::after {
            clip-path: polygon(0 0, 0 63%, 100% 0);
        }
        &__title {
            text-align: center;
            margin-bottom: 20px;
            margin-left: auto;
            margin-right: auto;
            span {
                display: block;
            }
            i {
                display: none;
            }
        }
        &__text {
            p + p {
                padding-top: 20px;
            }
        }
    }
    .title {
        font-size: 38px;
        line-height: 1;
    }
    .page-title {
        font-size: 48px;
    }

    .first-screen {
        &::after {
            clip-path: polygon(0 0, 77% 0, 100% 42%, 100% 100%, 0 100%, 0% 50%);
        }
    }

    .hero {
        padding: 40px 0;
        
        &__text {
            font-size: 20px;
            margin-bottom: 10px;
            max-width: 100%;
            margin-left: auto;
            margin-right: auto;
        }
        &__title {
            margin-bottom: 210px;
        }
        &__box {
            max-width: 700px;
            margin: 0 auto;
            text-align: center;
        }
    }

    .hero__img {
        display: none;
    }

    .hero-main {
        background: url('../images/dist/hero-main-mobile.svg') center no-repeat;
    }

    .header {

        padding: 20px 0;

        &__btn {
            display: block;
        }

        &__logo {
            position: relative;
            z-index: 33;

            img {
                width: 110px;
            }
        }
        &__nav {
            display: none;
        }
    }
    .socials__list {
        display: none;
    }

    .first-screen {
        &::before {
            content: none;
        }
    }

    
    .admin-page {
        .form {
            background-size: 65px;
        }
    }
    .form.task {
        background: none;
    }
}

@media (max-width: 830px) {
    .test {
        &__answer {
            textarea {
                min-height: 90px;
            }
        }
    }
    .banner {
        padding-top: 17px;
        padding-bottom: 20px;
        &__inner {
            background: url('../images/dist/banner-mobile.svg') bottom right no-repeat;
            background-color: $bg;
            border: 5px solid rgba(166, 123, 106, 0.41);
            flex-direction: column;
        }
        &__title {
            margin: 0 auto;
            text-align: center;
            margin-bottom: 20px;
        }
        &__img {
            display: none;
        }
        &__text {
            display: none;
        }
        &__text-mobile {
            display: block;
            padding-right: 60px;
            padding-bottom: 90px;
        }
        &__content {
            max-width: 100%;
            margin-left: 0;
        }
    }
    .footer {
        &__inner {
            flex-direction: column;
            align-items: center;
        }

        &__title {
            margin-bottom: 7px;
        }

        &__col {
            margin-bottom: 20px;
            text-align: center;
        }
    }
    .team-head {
        min-height: 330px;
        padding-top: 30px;
        padding-bottom: 60px;
        position: relative;
        z-index: 4;

        .container {
            position: relative;
            z-index: 11;
        }
        
        &__bg-mobile {
            position: absolute;
            background: url('../images/dist/team-mobile.svg') no-repeat right 20px bottom 20px;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            z-index: 9;
        }
        &__img {
            display: none;
        }
        &__title {
            text-align: center;
            margin: 0 auto;
            margin-bottom: 20px;
        }
        &__triangle {
            clip-path: polygon(100% 0, 0 0, 100% 66%);
            width: 120%;
            left: -35px;
            z-index: 0;

            &::after {
                clip-path: none;
            }
        }
        &__content {
            max-width: 100%;
        }
        &__text {
            padding-right: 60px;
            padding-left: 10px;
            
        }
        &__box {
            padding-bottom: 0;
        }
        
    }
    
    .about {
        padding-bottom: 0;
        
        &__foot {
            flex-direction: column;
        }
        &__foot-item {
            margin-bottom: 25px;
            &::after {
                content: none;
            }
            &:nth-child(1) .about__foot-subtitle,
            &:nth-child(2) .about__foot-subtitle,
            &:nth-child(3) .about__foot-subtitle {
                margin-left: 0;
                margin-right: 0;
            }
        }
    }
}

@media (max-width: 768px) {
    .breadcrumbs {
        display: none;
    }
    .hero-task .hero__text {
        font-size: 13px;
        line-height: 140%;
    }
    .quiz {
        &__answer {
            textarea {
                min-height: 90px;
            }
        }
    }
    .reviews__button-next,
    .reviews__button-prev {
        display: none;
    }
    .reviews__title {
        margin-bottom: 25px;
    }
    .reviews__item {
        max-width: 400px;
    }
    .reviews__slider {
        height: auto;
        margin-left: 0;
        margin-right: 0;
    }
    .reviews__slider-wrapper {
        display: block;
    }
} 

@media (max-width: 700px) {
    .task {
        &__answer-item {
            textarea {
                min-height: 90px;
            }
        }
    }
    .schedule {
        padding-top: 30px;
        background: rgba(220,199,176,.23);;
        &::after {
            display: none;
        }
        &__icon {
            width: 35px;
            height: 35px;
        }
        &__time {
            font-size: 18px;
            line-height: 1;
        }
        &__caption {
            font-size: 12px;
            line-height: 1;
        }
        &__item {
            margin-bottom: 20px;
            width: 190px;
            height: 61px;
            background-image: url('../images/dist/schedule-item-border-mobile.svg');

            &:first-child {
                margin-top: 18px;
            }
        }
        &__tetris {
            background-image: url('../images/dist/tetris-mobile.svg');
            max-width: 300px;
            height: 260px;
        }
    }
}

@media (max-width: 650px) {
    .pagination ul li a {
        width: 30px;
        height: 30px;
        font-size: 13px;
        line-height: 17px;
    }
    .blog {
        &__inner {
            padding-bottom: 15px;
        }
        &__date {
            left: auto;
            right: 17px;
        }
        &__img {
            height: 210px;
        }
        &__list {
            margin-left: 0;
            margin-right: 0;
        }
        &__item {
            max-width: 100%;
            margin-left: 0;
            margin-right: 0;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

@media (max-width: 600px) {
    .application {
        &__subtitle {
            font-size: 13px;
        }
    }
    .questions__list {
        margin-left: -15px;
        margin-right: -15px;
    }
    .questions__title {
        margin-bottom: 25px;
    }
    .reviews {
        &__item {
            padding: 15px;
            padding-top: 30px;
            max-width: 100%;
        }
        &__name {
            font-size: 16px;
            line-height: 120%;
        }
        &__text {
            font-size: 13px;
            line-height: 140%;
        }
    }
    .team-head {
        &__text {
            font-size: 13px;
        }
    }
    .benefits {
        background: url(../images/dist/pixels-bg.svg) no-repeat top 155px right / 50px ,
        url(../images/dist/pixels-bg.svg) no-repeat bottom 3 55px left / 50px ;
        &__title {
            margin-bottom: 25px;
        }
        &__list {
            margin-left: 0;
            margin-right: 0;
            padding-left: 10px;
            padding-right: 10px;
        }
        &__item {
            max-width: 100%;
            margin-left: 0;
            margin-right: 0;
            padding: 20px;
        }
        &__item-title {
            font-size: 16px;
            line-height: 120%;
        }
        &__text {
            font-size: 13px;
            line-height: 140%;
        }
    }
    .about {
        &__text {
            font-size: 13px;
            line-height: 140%;
        }
        &__mobile-img {
            width: auto;
        }
        &__title {
            padding-left: 8px;
            padding-right: 8px;
        }
    }
    .communication {
        &__text {
            font-size: 13px;
            line-height: 140%;
        }
    }
    .header {
        padding: 13px 0;
    }
    .page-title {
        font-size: 44px;
        line-height: 1;
    }

    .title {
        font-size: 32px;
        line-height: 1.1;
    }

    .hero {
        padding-top: 0;
        padding-bottom: 25px;
        margin-left: -15px;
        margin-right: -15px;
        padding-left: 15px;
        padding-right: 15px;
        
        &__title {
            margin-bottom: 180px;
        }
    }

}

@media (max-width: 470px) {
    .hero-task .hero__text-mobile {
        display: block;
    }
    .hero-task .hero__text{
        display: none;
    }
    .banner {
        &__text-mobile {
            padding-right: 33px;
        }
    }
    .hero .hero__title {
        max-width: 285px;
    }
    .hero-form {
        background: url('../images/dist/hero-translators-mobile.svg') top center no-repeat;
        .hero__title {
            margin-bottom: 160px;
        }
    }
    .hero-admin .hero__title {
        margin-bottom: 190px;
    }
    .hero-scout .hero__title {
        margin-bottom: 190px;
    }
}

@media (max-width: 350px) {

    .test__title {
        font-size: 30px;
    }
    .form__policy {
        margin-left: -3px;
        margin-right: -3px;
    }
    .hero-main {
        background: url('../images/dist/hero-main-mobile.svg') bottom 84px center no-repeat;
    }
}