@import "config";
@import "blocks/**/*";



@media (max-width: 1400px) {
    .about {
        &__col:last-child {
            margin-left: 130px;
        }
        &__img {
            margin-top: -100px;
        }
    }
}

@media (max-width: 1280px) {
    .communication {
        padding-top: 20px;
    }
}


@media (max-width: 1200px) {
    .about {
        &__inner {
            padding: 0 10px;
        }
        &__row {
            flex-direction: column;
        }
        &__text {
            padding-bottom: 0;
            max-width: 100%;
            &::before {
                display: none;
            }
        }
        &__img {
            display: none;
        }
        &__col {
            &:last-child {
                margin-left: 0;
            }
        }
        &__foot {
            position: static;
            transform: none;
            margin-top: 25px;
        }
        &__mobile-img {
            display: block;
            margin: 0 auto;
            width: 45%;
            img {
                width: 100%;
            }
        }
    }
}


@media (max-width: 1024px) {
    .about {
        padding-top: 10px;
        padding-bottom: 45px;

        &__title {
            margin-bottom: 20px;
        }

        &__text {
            font-size: 16px;
        }

        &::before {
            width: 10px;
            bottom: -3px;
        }

        &::after {
            height: 12px;
        }
        &__foot {
            padding-bottom: 0;
        }
        &__foot-num {
            font-size: 60px;
            line-height: 1;
        }
        &__foot-subtitle {
            font-size: 16px;
            line-height: 21px;
        }
    }
    .btn-wrapper {
        text-align: center;
    }
    .communication {
        padding-top: 40px;
        padding-bottom: 60px;
        background: url('../images/dist/communication-main-mobile.svg') bottom 125px center no-repeat;

        &__content {
            margin: 0 auto;
        }

        &__text {
            font-size: 16px;
            margin-bottom: 190px;
        }

        &__btn {
            margin: 0 auto;
        }
        
        &__img {
            display: none;
        }

        &::after {
            clip-path: polygon(0 0, 0 63%, 100% 0);
        }
        &__title {
            text-align: center;
            margin-bottom: 20px;
            margin-left: auto;
            margin-right: auto;
            span {
                display: block;
            }
            i {
                display: none;
            }
        }
        &__text {
            p + p {
                padding-top: 20px;
            }
        }
    }
    .title {
        font-size: 38px;
        line-height: 1;
    }
    .page-title {
        font-size: 48px;
    }

    .first-screen {
        &::after {
            clip-path: polygon(0 0, 77% 0, 100% 42%, 100% 100%, 0 100%, 0% 50%);
        }
    }

    .hero {
        padding: 40px 0;
        
        &__text {
            font-size: 20px;
            margin-bottom: 10px;
            max-width: 100%;
            margin-left: auto;
            margin-right: auto;
        }
        &__title {
            margin-bottom: 210px;
        }
        &__box {
            max-width: 700px;
            margin: 0 auto;
            text-align: center;
        }
    }

    .hero-main {
        background: url('../images/dist/hero-main-mobile.svg') center no-repeat;

        .hero__img {
            display: none;
        }
    }

    .header {

        padding: 20px 0;

        &__btn {
            display: block;
        }

        &__logo {
            position: relative;
            z-index: 33;

            img {
                width: 110px;
            }
        }
        &__nav {
            display: none;
        }
    }
    .socials__list {
        display: none;
    }

    .first-screen {
        &::before {
            content: none;
        }
    }
}

@media (max-width: 830px) {
    .about {
        padding-bottom: 0;

        
        &__foot {
            flex-direction: column;
        }
        &__foot-item {
            margin-bottom: 25px;
            &::after {
                content: none;
            }
            &:nth-child(1) .about__foot-subtitle,
            &:nth-child(2) .about__foot-subtitle,
            &:nth-child(3) .about__foot-subtitle {
                margin-left: 0;
                margin-right: 0;
            }
        }
    }
}

@media (max-width: 600px) {
    .about {
        &__text {
            font-size: 13px;
            line-height: 140%;
        }
        &__mobile-img {
            width: auto;
        }
        &__title {
            padding-left: 8px;
            padding-right: 8px;
        }
    }
    .communication {
        &__text {
            font-size: 13px;
            line-height: 140%;
        }
    }
    .header {
        padding: 13px 0;
    }
    .page-title {
        font-size: 44px;
        line-height: 1;
    }

    .title {
        font-size: 32px;
        line-height: 1;
    }

    .hero {
        padding-top: 0;
        padding-bottom: 25px;
        margin-left: -10px;
        margin-right: -10px;
        padding-left: 10px;
        padding-right: 10px;
        
        &__title {
            margin-bottom: 180px;
        }
    }

}

@media (max-width: 350px) {
    .hero-main {
        background: url('../images/dist/hero-main-mobile.svg') bottom 84px center no-repeat;
    }
}